* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Helvetica, Roboto, sans-serif;
}

header {
    nav{
        display: flex;
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 10px 20px;
            li{
                a{
                    text-decoration: none;
                    font-size: 16px;
                    transition: color 0.3s ease;
                    svg{
                        fill: white;
                        transition: color 0.3s ease;
                    }
                }
            }
        }
    }
    .primary{
        background-color: #64BAFF;
        ul li a{
            color: white;
            &:hover {
                        color: #C7E4FB;
                        svg{
                            fill: #C7E4FB;
                        }
                    }
        }
        svg{
            width: 22px;
            height: 22px;
        }
    }
    .secondary{
        background-color: #F5F5F5;
        ul {
            li a{
            color: #4d4d4d;
            &:hover {
                        color: #979696;
                        svg{
                            fill: #979696;
                        }
                    }
            }
            input{
                padding: 5px 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 14px;
            }
        }
        
    }
}

.contenido{
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.seccion1, .seccion2{

    a {
        display: inline-flex;
        text-decoration: none;
        align-items: center;
        color: #4d4d4d;
        padding: 20px;
        width: 100%;

        .imagen-izquierda{
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 0.25rem;
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);
            width: 66%;
            height: 320px;
        }
        .seccion-derecha{
            width: 33%;
            padding-left: 20px;
            .caja-perfil{
                display: flex;
                align-items: center;
            }
        }
    }
}

@media (min-width: 950px){
    a.small{
        width: 33%;
        flex-direction: column;
        .imagen-izquierda{
            width: 100%;
            height: auto;
        }
        .seccion-derecha{
            width: 100%;
        }
    }
}

